<header>
  <h1>your book<strong>shelf</strong></h1>
  <div class="nav-container">

    <nav class="nav-bar">
      <ul class="menu">

        <li class="nav-home">
          <a href="/">Home</a>
        </li>
        <li class="nav-add">
          <a  href="/books/new"> Add Book</a>
        </li>
        <li class="nav-all">
          <a href="/books"> All Books</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
