<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <section class="err">
      <h2 class="error-text">Uh No! Something went wrong</h2>
      <img src="https://picsum.photos/id/237/200/300" alt="a cute puppy" class="error-img">
      <p class="error-p">Try again later or <a href="/"> go back home. </a> </p>
    </section>
      <%- include('./partials/footer') %>
  </body>

</html>
