@import url("https://fonts.googleapis.com/css2?family=Artifika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
  box-sizing: border-box;
}

/* html, body{
    height: 100%;
} */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(238, 234, 229);
}

h1 {
  display: inline-block;
  order: initial;
  background-position: center;
  background-size: 140px 30px;
  margin: 0 16px 0 15px;
}

#logo-img {
  height: 180px;
  width: 180px;
  padding: 20px;
}

.nav-container {
  height: 50px;
  display: block;
  /* position: fixed; */
  top: 0px;
  width: 100%;
  z-index: 70;
  font-size: 12px;
}

.nav-bar {
  background-color: rgb(242, 235, 226);
  display: flex;
  height: 50px;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(102, 106, 123, 0.75);
  margin-bottom: 20px;
}

ul {
  margin: 0;
  font-size: 12px;
  /* font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  line-height: 18px;
  padding: 0;
}

li {
  display: inline-block;
  color: black;
  font-size: 18px;
}

li > a {
  color: black;
  font-size: 16px;
  /* font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  line-height: 50px;
  padding: 0 30px;
  text-decoration: none;
}

.home-table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: inital;
  border-spacing: 2px;
  margin-top: -80px;
  /* padding-right: 49rem; */
  margin-left: auto;
  margin-right: auto;
}

.genre {
  text-align: center;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.home-page td {
  line-height: 18px;
  padding: 0;
  display: table-cell;
  vertical-align: inherit;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home-page div {
  display: block;
  word-wrap: break-word;
}

.genre-name {
  font-size: 11pt;
  text-align: center;
}

#book {
  margin: 7px;
  float: left;
  display: block;
}

.home-img {
  border: 0;
  width: 130px;
  max-height: 200px;
  min-height: 200px;
  margin: 10px;
}

.show-book,
.show-review {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#cover-image {
  border: 0;
  width: 250px;
  max-height: 400px;
  min-height: 400px;
}

#show-content {
  text-align: center;
  margin: 14px;
  font-size: 20px;
  font-family: Georgia, serif;
}

#show-btn {
  background-color: #9fbfe2;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.4s;
  transition-property: background-color, color;
}

#show-btn:hover {
  background-color: #008cba;
  color: white;
}

.buttons {
  padding: 50px;
}

.form-body {
  width: 50vmin;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  padding-bottom: 2.5rem;
  overflow: auto;
  line-height: 3vh;
  text-align: center;
}

#form-container {
  /* height: 95vmin; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-body > form > label {
  display: block;
  font-weight: bold;
  color: #8c8c8c;
  margin-bottom: 10px;
}

.form-body > form > label > input,
.form-body > form > label > select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #4d4d4d;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.form-button[type="submit"] {
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* #index-container {
  position: relative;
  min-height: 100vh;
}

.index-body {
  margin-top: 2.5vmin;
  padding: 1vmin;
  overflow: auto;
  line-height: 5vh;
  max-width: 100%;
}

.index-book {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: left;
  padding: 3vmin;
  margin: 1vmin;
  align-items: center;
  padding-left: 6.5vmin;
}

#index-title {
  text-decoration: none;
  max-width: 250px;
  overflow: hidden;

} */

.index-body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    outline: 0;
}

.index-book{
    margin-right: calc(1.35% - 1.5px);
    height: auto!important;
    min-height: 1px!important;
    width: 20%;
    margin-bottom: 2.35rem;
    margin-top: 20px;
    text-align: center;
}

#index-title{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.form-button[type="submit"]:hover {
  background-color: #006080;
}


#show-image-tr {
    display: flex;
    justify-content: center;
}

#review-text {
    margin-left: auto;
    margin-right: auto;
}

#review-textarea {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 200px;
    height: 100px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3vmin;
}

#review-textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

#review-textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}

#review-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0 auto;
}

#index-title-author-container {
   text-align: center;
   margin-top: 2vmin;
}

footer {
  text-align: center;
}