@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: white;
    display: flex;
    height: 5vmin;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 3vmin;
}

nav > a {
    display: inline-block;
    font-size: 2vmin;
    text-decoration: none;
    color: black;
    padding: 1vmin;
    margin: 0;
}


.home-table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: inital;
    border-spacing: 2px;
}

.genre{
    text-align: center;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.home-page td {
    /* width: 50px; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    padding: 0;
    display: table-cell;
    vertical-align: inherit;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-cell {
    background-color: #d2e3ec;

}

.home-page div {
    display: block;
    word-wrap: break-word;
}

.genre .name {
    font-size: 12pt;
    text-align: center;
}

#book {
    margin: 7px;
    float: left;
    display: block;
}


h1{
    font-weight: lighter;
    color: lightskyblue;
    font-family: 'Artifika', serif;
    font-size: 2vmin;
}

h1 > strong {
    color: navy;
}

.home-page img{
    border: 0;
    width: 130px;
    max-height: 200px;
    min-height: 200px;
}

footer {
    text-align: center;        
  }


