@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-container {
    height: 50px;
    display: block;
    /* position: fixed; */
    top: 0px;
    width: 100%;
    z-index: 70;
    font-size: 12px;
}


.nav-bar {
    background-color: rgb(223, 221, 221);
    display: flex;
    height: 50px;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.75);
}

.home-table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: inital;
    border-spacing: 2px;
    margin-top: -80px;
    /* padding-right: 49rem; */
    margin-left: auto;
    margin-right: auto;

}

.genre{
    text-align: center;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

ul {
    margin: 0;
    font-size: 12px;
    /* font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    line-height: 18px;
    padding: 0;
}

li {
    display: inline-block;
    color: black;
    font-size: 18px;

}

li > a {
    color: black;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px;
    padding: 0 30px;
    text-decoration: none;
}


.home-page td {
    /* width: 50px; */
    line-height: 18px;
    padding: 0;
    display: table-cell;
    vertical-align: inherit;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-cell {
    background-color: #d2e3ec;

}

.home-page div {
    display: block;
    word-wrap: break-word;
}

.genre .name {
    font-size: 12pt;
    text-align: center;
}

#book {
    margin: 7px;
    float: left;
    display: block;
}


h1{
    font-weight: lighter;
    color: lightskyblue;
    font-family: 'Artifika', serif;
    font-size: 2vmin;

}

h1 > strong {
    color: navy;
}

.home-page img{
    border: 0;
    width: 130px;
    max-height: 200px;
    min-height: 200px;
}

.show-book, .show-review{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

#cover-image {
    border: 0;
    width: 250px;
    max-height: 400px;
    min-height: 400px;
}

#content {
    text-align: center;
    margin: 7px;
    font-size: 20px;
    font-family: Georgia,serif;
}

#show-btn{
    background-color: #9fbfe2;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-property: background-color, color;
}

#show-btn:hover{
    background-color: #008CBA;
    color: white;
}

.buttons{
    padding: 50px;

}

footer {
    text-align: center;
  }


